<%- include("header")  %>


<h1>This is the about page.</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel metus
  nunc. Vestibulum ac commodo diam. Fusce quis mi eu nulla mollis tincidunt id
  in odio. Fusce fringilla tortor quis nunc egestas pharetra. Donec egestas
  augue in nisi molestie, eu auctor urna accumsan. Maecenas tristique fringilla
  ultricies. Donec mollis egestas nisi, quis pellentesque lacus commodo a.
  Maecenas scelerisque ipsum vel elit tincidunt ultrices. Nunc non arcu nec ante
  varius ultricies quis ac eros. Aenean suscipit, massa ac gravida congue, sem
  ex viverra ipsum, nec convallis velit risus in ante. Donec sodales pulvinar
  risus at dapibus. Suspendisse egestas blandit massa eu rhoncus.
</p>


<%- include("footer") %>